@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*,
*:before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 5px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    min-width: 200px;
    height: 50px;
    padding: 0px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    background-color: #DB2512;
    transition: .4s;
}

.btn:hover {
    background-color: #9d0606;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.header-wrap {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-block {
    width: 20%;
}

.header-logo {
    display: inline-block;
}

.header-block img {
    height: 65px;
}

.nav {
    display: flex;
}

.nav-link {
    margin-right: 35px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.nav-link::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity 0.4s ease;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link.active::after {
    opacity: 1;
}

.nav-link:hover:after {
    opacity: 1;

}

.header-lng {
    display: flex;
    justify-content: flex-end;
}

.header-lng:last-child {
    display: flex;
    margin-right: 0;
}

.lng-link {
    margin-right: 8px;
    color: #b7b7b7;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: .4s;
}

.lng-link.active {
    color: #fff;
}

.lng-link:hover {
    color: #fff;
}

.intro {
    background: url("../img/intro_bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.intro::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.intro__content {
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.intro__block {}

.intro__title {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    max-width: 790px;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* intro end */

/* info start */

.info {}

.info__wrap {
    display: flex;
    margin: 0 -10px;
}

.info__block {
    width: 33.33%;
    padding: 0 10px;
}

.info__item {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    padding: 40px 40px 30px;
}

.info__img {
    margin-bottom: 20px;
}

.info__img img {
    height: 30px;
}

.info__title {
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 0.15em;
}

.info__txt { 
    font-size: 18px;
    color: #B7B7B7;
}

/* info end */